<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    </nav>
    <h2>Welcome to Admin DashBoard</h2>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
    <script src="../assets/Index/js/toastr.min.js"></script>
    <script>
        $("#navbar").load("../admin/navbar");
    </script>
</body>

</html>